* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #FCFCFD;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

header {
    position: relative;
    z-index: 20;
    padding: 20px 0;
    border-bottom: 1px solid #E6E8EC;
}

.header_center {
    display: flex;
    align-items: center;
}

.center {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 80px;
}

.center_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_logo {
    position: relative;
    z-index: 12;
    display: inline-block;
    flex-shrink: 0;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-right: auto;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 24px;
    background: #3772FF;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #FCFCFD;
    transition: all .2s;
}

.button:hover {
    background: #044eff;
}

.button-small {
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 14px;
}

.button-stroke {
    background: none;
    box-shadow: 0 0 0 2px #E6E8EC inset;
    color: #23262F;
}

.button-stroke:hover {
    background: #3772FF;
    box-shadow: 0 0 0 2px #3772FF inset;
    color: #FCFCFD;
}

.shine {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.shine::after {
    content: '';
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.3);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 3em;
    transform: translate3d(-350%, 0, 0) rotate(35deg);
}

.shine:hover::after {
    transition: transform 0.45s ease-in-out;
    transform: translate3d(200%, 0, 0) rotate(35deg);
}

.header_upload {
    margin-right: 12px;
}

form {
    display: block;
}

.header_search {
    position: relative;
    flex-shrink: 0;
    width: 256px;
    margin-right: 24px;
}

.header_input {
    width: 100%;
    height: 40px;
    padding: 0 42px 0 16px;
    background: none;
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.66667;
    transition: border-color .2s;
}

.login_input {
    width: 60%;
    height: 60px;
    padding: 0 16px 0 16px;
    background: none;
    border: 3px solid #E6E8EC;
    outline-color: #3772FF;
    border-radius: 15px;
    font-size: 15px;
    line-height: 1.66667;
    transition: border-color .2s;
    margin: 0 0 20px;
}

.other_auth {
    margin: 0 0 15px;
    color: #777E90;
    font-size: 15px;
    text-decoration: underline;
    transition: color .1s;
}

.other_auth:hover {
    color: #3772FF;
}

.index-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    margin-top: 50px;
}

.block {
    background-color: #FCFCFD;
    border-radius: 20px;
    border: 1px solid #E6E8EC;
    box-shadow: 0 0 32px rgb(31 47 70 / 5%);
    padding: 30px;
}

.main_head {
    max-width: 700px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main_stage {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #777E90;
}

.main_title {
    margin-bottom: 10px;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -.01em;
    font-weight: 700;
}

.catalog_sorting {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.store_title {
    font-weight: bold;
    font-size: 30px;
}

.catalog_nav {
    margin-left: auto;
    display: flex;
}

.catalog_link {
    flex-shrink: 0;
    margin-left: 6px;
    padding: 6px 12px;
    border-radius: 14px;
    background: none;
    font-size: 14px;
    line-height: 1.14286;
    font-weight: 700;
    color: #777E90;
    transition: all .2s;
}

.catalog_link:hover {
    color: #353945;
    box-shadow: 0 0 0 2px #E6E8EC inset;
}

.catalog_link.active {
    background: #353945;
    color: #FCFCFD;
    box-shadow: 0 0 0 0;
}

.catalog_row {
    display: flex;
}

.catalog_filters {
    flex-shrink: 0;
    width: 256px;
}

.catalog_wrapper {
    flex-grow: 1;
    padding-left: 32px;
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 265px;
    padding: 12px;
    border: 1px solid #E6E8EC;
    box-shadow: 0 0 32px rgb(31 47 70 / 5%);
    border-radius: 20px;
    margin: 10px;
    transition: 0.1s linear;
}

.card:hover {
    box-shadow: 0 5px 32px rgb(31 47 70 / 7%);
    transform: translateY(-2px);
}

.card_preview > img {
    width: 240px;
    height: 240px;
    border-radius: 16px;
}

.card_link {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px 0;
    color: #23262F;
}

.card_line {
    display: flex;
    align-items: flex-start;
}

.card_title {
    margin-right: auto;
    padding-top: 1px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.card_price {
    flex-shrink: 0;
    margin-left: 8px;
    padding: 0 8px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #45b26b;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: #45B26B;
}

.person_block {
    width: 320px;
    height: 550px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.margin_LR {
    margin-left: auto;
    margin-right: auto;
}

.margin_T {
    margin-top: auto;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #3772FF;
}

.nick {
    margin-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.short_line {
    height: 2px;
    width: 70%;
    background-color: #E6E8EC;
    margin-top: 10px;
}

.profile_bio {
    margin-top: 15px;
    font-size: 15px;
}

.profile_catalog_wrapper {
    /*flex-grow: 1;*/
}

.profile_catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px -10px -10px 20px;
}

.item_block {
    min-height: 500px;
    width: auto;
    display: flex;
    padding: 30px;
}

.item_picture > img {
    width: 440px;
    height: 440px;
    border-radius: 16px;
}

.item_column {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.item_name {
    font-size: 35px;
    font-weight: bold;
}

.item_description {
    margin-top: 10px;
    font-size: 17px;
}

.item_price {
    padding: 0 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #45b26b;
    font-size: 15px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    width: 85px;
    color: #45B26B;
    margin-bottom: 10px;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.avatar_mini {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #3772FF;
}

.nick_mini {
    font-size: 16px;
    margin-top: 7px;
    margin-left: 5px;
    font-weight: 650;
    color: #353945;
}

.other_items_title {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    color: black;
}

.item_catalog_wrapper {
    margin-top: 20px;
}

.all_items_btn {
    margin-top: 20px;
    margin-bottom: 40px;
}

.s_title {
    font-size: 30px;
    font-weight: bold;
}

.s_text {
    font-size: 20px;
    font-weight: normal;
}

.personality_block {
    width: 550px;
    min-width: 300px;
    min-height: 600px;
}

.rename {
    margin-top: 10px;
    margin-bottom: 10px;
}

.rename_input {
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
    background: none;
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.66667;
    transition: border-color .2s;
}

.s_name {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.biog {
    margin-right: 10px;
}

.bio_area {
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 14px;
    background: none;
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    width: 470px;
    height: 200px;
}

.wallet_block {
    margin-left: 50px;
    width: 550px;
    min-width: 300px;
    min-height: 600px;
}

.back_to_profile {
    margin-top: 30px;
}

